DATABASE_URL=postgresql://postgres:postgres@localhost:5432/insighta_labs
PUBLIC_BASE_URL=http://localhost:8000
JWT_SECRET_KEY=change-me

GITHUB_CLIENT_ID=your_web_github_client_id
GITHUB_CLIENT_SECRET=your_web_github_client_secret
GITHUB_CLI_CLIENT_ID=your_cli_github_client_id
GITHUB_CLI_CLIENT_SECRET=your_cli_github_client_secret
GITHUB_CLI_REDIRECT_URI=http://localhost:3000/callback
